## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [87]:
# Your code here
list_1 = list(range(1,81))
sample_list_1 = random.sample(sample_list_1,k=80)
sample_list_1

[80,
 4,
 33,
 53,
 65,
 15,
 68,
 19,
 39,
 36,
 1,
 47,
 42,
 41,
 44,
 75,
 49,
 2,
 56,
 45,
 21,
 29,
 70,
 8,
 76,
 51,
 22,
 73,
 26,
 24,
 72,
 78,
 46,
 28,
 9,
 35,
 3,
 30,
 77,
 18,
 79,
 60,
 31,
 62,
 7,
 64,
 38,
 67,
 10,
 32,
 6,
 74,
 59,
 52,
 55,
 71,
 34,
 50,
 12,
 11,
 17,
 63,
 61,
 25,
 37,
 13,
 58,
 40,
 20,
 16,
 57,
 54,
 66,
 5,
 14,
 27,
 23,
 48,
 69,
 43]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [86]:
# converting to a set and printing the length that remains 80.
set1 = set(sample_list_1)
len(set1)

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [83]:
# Your code here
# import random

sample_list_2 = []
for i in range(0,80):
    sample_list_2.append(random.randint(0,100))

    
len(sample_list_2)

80

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [85]:
# the lenght of the set went to 56, since the set() method removes all the duplicated values.
set2 = set(sample_list_2)
len(set2)

56

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [116]:
# Your code here
set3 = set([number for number in set1 if number not in set2])
len(set3)

33

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [115]:
# Your code here
set4 = set([number for number in set2 if number not in set1])
len(set4)

9

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [119]:
# Your code here
# list(set(a) & set(b))
set5 = set(set1) & set(set2)
len(set5)

47

#### 8 - Create an empty set called `set6`.

In [275]:
# Your code here

set6 = set(set6)
type(set6)

set

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [278]:
# Your code here

set6.update(set3, set5)
set6

{1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 3,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 4,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 5,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 6,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 7,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 8,
 80,
 9,
 set}

#### 10 - Check if `set1` and `set6` are equal.

In [279]:
# They are not the same.
set1 == set6

False

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [280]:
# set1 is not a subset of set2, meaning that elements of the set1 does not belong to set2.
set1.issubset(set2)

False

In [281]:
# set 1 is a subset of set3.
set1.issubset(set3)

True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [186]:
# Your code here
set3.union(set4,set5) == set1.union(set2)
# they are not the same.

False

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [221]:
# Your code here
my_list = list(set1)
my_list.pop(1)

10

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [216]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1
#[set1 for i in set1 if i in list_to_remove set1.remove(i)] <- why this doesnt work?

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
    
len(set1)

59

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [211]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [225]:
# Your code here
father_set = set(['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic'])
mother_set = {}
jo_set = set(['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt'])
Carlos_set = set(['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper'])
Mattia_set = {}

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [227]:
# Your code here
Mattia_set = Carlos_set.symmetric_difference(jo_set)
Mattia_set

{'cherries',
 'cucumber',
 'flour',
 'gums',
 'juice',
 'milk',
 'sugar',
 'toilet paper',
 'water',
 'watermelon',
 'yogurt'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [106]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['deodorant', 'chocolate', 'water', 'yogurt', 'flour', 'tomatoes', 'cherries', 'yogurt', 'cucumber', 'tomatoes']

In [108]:
# Your code here
mother = set(mother_list)
mother

{'cherries',
 'chocolate',
 'cucumber',
 'deodorant',
 'flour',
 'tomatoes',
 'water',
 'yogurt'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [248]:
# Your code here
#fruits.discard("banana")
shopping_list = [father_set, mother_set, Carlos_set, jo_set, Mattia_set]

#[shopping_list for element in shopping_list if element == "toilet paper" shopping_list.remove(element)]

for kit in shopping_list:
    for item in kit:
        if item == "toilet paper":
            shopping_list.discard(item)

shopping_list

[{'cucumber', 'flour', 'garlic', 'gums', 'onions', 'watermelon', 'yogurt'},
 {},
 {'blueberries', 'cherries', 'flour', 'garlic', 'onions', 'tomatoes', 'water'},
 {'blueberries',
  'cucumber',
  'garlic',
  'gums',
  'juice',
  'milk',
  'onions',
  'sugar',
  'tomatoes',
  'watermelon',
  'yogurt'},
 {'cherries',
  'cucumber',
  'flour',
  'gums',
  'juice',
  'milk',
  'sugar',
  'water',
  'watermelon',
  'yogurt'}]

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [252]:
# Your code here
set_of_groceries = father_set.union(mother_set, Carlos_set, jo_set, Mattia_set)
set_of_groceries

{'blueberries',
 'cherries',
 'cucumber',
 'flour',
 'garlic',
 'gums',
 'juice',
 'milk',
 'onions',
 'sugar',
 'tomatoes',
 'water',
 'watermelon',
 'yogurt'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [267]:
# Your code here
list_of_groceries = list(set_of_groceries)

#[list_of_groceries for i in list_of_groceries if len(list_of_groceries) != 5 list_of_groceries.pop(i)]

while len(list_of_groceries) != 5:
    list_of_groceries.pop()
    
list_of_groceries

['gums', 'garlic', 'cherries', 'watermelon', 'yogurt']